<!-- <h1>Hi There!</h1> -->

<main class="content">
  <!-- <div class="container"> 
    <mat-toolbar class="mat-elevation-z6" color="basic">
      <button mat-raised-button color="basic">Refresh</button>
    </mat-toolbar>
  </div> -->

  <div >
    <h1>Meditation App</h1>
  </div>

  <div >
    <div class="progress-wrapper" *ngIf="maxVal">
      <div class="text" *ngIf="!isFinished">
        {{ max - current | number: "1.1-1" }}
      </div>

      <div class="text" *ngIf="isFinished">
        ding!
        <audio src="assets/chime.mp3" autoplay></audio>
      </div>

      <round-progress
        [max]="maxVal"
        [current]="currentVal"
        [radius]="50"
        [stroke]="5"
        [background]="'#eaeaea'"
        [animation]="'easeInOutQuart'"
        [responsive]="true"
      >
      </round-progress>
    </div>

    <div class="controls-wrapper">
      <div>
        <label>Seconds</label>
        <input
          class="input"
          placeholder="number of seconds"
          type="text"
          [(ngModel)]="max"
          (keydown)="reset()"
        />
      </div>
    </div>
    
    <button mat-raised-button color="primary" *ngIf="currentVal <= 0" (click)="start()" class="button is-info">Start</button>
    <button mat-raised-button color="basic" *ngIf="!isFinished" (click)="finish()" class="button is-danger">Finish</button>
  </div>
</main>
